<div class="card profile">
    <img src="assets\profile.png" alt="John" style="width:100%">
    <h1>{{profile[0]}}</h1>
    <p class="title">{{profile[1]}}</p>
    <p>{{profile[2]}}</p>
    <p>{{profile[3]}}</p>
    <div style="margin: 24px 0;">
      <a href="javascript:void(0)"><i class="fab fa-dribbble a"></i></a> 
      <a href="javascript:void(0)"><i class="fab fa-twitter a ml-1"></i></a>  
      <a href="javascript:void(0)"><i class="fab fa-linkedin-in a ml-1"></i></a>  
      <a href="javascript:void(0)"><i class="fab fa-facebook-f a ml-1"></i></a> 
    </div>
    <p><button class="b">Contact</button></p>
  </div>